//fonts:
$font-monserat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//colors:
$color-white: #ffffff;
$color-green-blue: #00c8c8;
$color-card: #f8f8f8;
$color-grey-white: #e7e7e7;
$color-footer: #999999;
$color-grey: #777777;
$color-light-grey: #727272;
$color-card-h4: #575153;
$color-licht-black: #333333;
$color-black: #000;

//size:
$size-min: 13px;
$size-normal: 14px;
$size-big: 36px;
$size-lg: 48px;