.card-item{
  border: none;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  &:last-child{
    margin-right: 0;
  }
  .card-img-top{
    width: 100%;
  }
}
.card-item-big{
  width: 100%;
  background-color: $color-card;
  margin-bottom: 30px;
  border: none;
  img{
    margin: 0 auto;
  }
}
.card-body{
  background-color: $color-white;
  text-align: center;
  h4{
    font-size: $size-min;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
  }
  p{
    font-size: 15px;
  }
}
.card-columns{
  display: flex;
}
.card-columns-1{
  margin-top: 60px;
  margin-right: 30px;
}
.card-columns-2{
  margin-top: 60px;
}
.nav-title {
  ul {
    display: flex;
    justify-content: center;
    li{
      margin-right: 15px;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: $color-grey;
      text-align: center;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: $color-white;
        font-size: 18px;
        i{
          margin-top: 5px;
        }
      }
      &:hover{
        background-color: $color-green-blue;
      }
    }
  }
}
.card-look{
  background-color: $color-card;
  display: flex;
  padding: 30px 0 0 30px;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
  .card{
    border: none;
    background-color: transparent;
    margin: 50px 56px 0 20px;
  }
  .card-body{
    text-align: right;
    background-color: transparent;
    h4{
      font-size: $size-lg;
      color: $color-card-h4;
      font-weight: normal;
    }
    p{
      font-size: 15px;
      font-family: $font-roboto;
      color: $color-light-grey;
    }
    .btn{
      text-transform: uppercase;
      padding: 20px 40px;
      background-color: transparent;
      color: $color-light-grey;
      font-weight: bold;
      border: 1px solid $color-light-grey;
      border-radius: 0;
      &:hover{
        background-color: $color-green-blue;
        color: $color-white;
        border: 1px solid $color-green-blue;
      }
    }
  }
}