.card-item{
  position: relative;
  border: none;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  &:last-child{
    margin-right: 0;
  }
  .card-img-top{
    width: 100%;
    img{
      width: 100%;
    }
  }
  &:hover{
    -webkit-box-shadow: 0 0 30px #969696;
    -moz-box-shadow: 0 0 30px #969696;
    box-shadow: 0 0 30px #969696;
    z-index: 1000;
    .wrapper-hover{
      display: block;
    }
  }
}
.card-item-big{
  width: 100%;
  background-color: $color-card;
  margin-bottom: 30px;
  border: none;
  img{
    width: 100%;
    margin: 0 auto;
  }
  &:hover{
    -webkit-box-shadow: 0 0 30px #969696;
    -moz-box-shadow: 0 0 30px #969696;
    box-shadow: 0 0 30px #969696;
    z-index: 1000;
    .wrapper-hover{
      display: block;
    }
  }
}
.card-body{
  width: 100%;
  position: absolute;
  background-color: $color-white;
  text-align: center;
  z-index: 10;
  -webkit-box-shadow: 0px 12px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 38px 0px rgba(0,0,0,0.75);
  h4{
    font-size: $size-min;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
  }
  p{
    font-size: 15px;
  }
}
.card-columns{
  display: flex;
}
.card-columns-1{
  width: 90%;
  margin-top: 60px;
  margin-right: 30px;
}
.card-columns-2{
  width: 90%;
  margin-top: 60px;
}
.nav-title {
  ul {
    display: flex;
    justify-content: center;
    li{
      margin-right: 15px;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: $color-grey;
      text-align: center;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: $color-white;
        font-size: 18px;
        i{
          margin-top: 7px;
        }
      }
    }
  }
}
.card-look{
  background-color: $color-card;
  display: flex;
  padding: 1vw 0 0 1.8vw;
  margin-right: 30px;
  width:100%;
  &:last-child{
    margin-right: 0;
  }
  .card{
    border: none;
    background-color: transparent;
    margin: 3vw 3vw 0 1vw;
  }
  .card-body-look{
    width: 100%;
    text-align: right;
    background-color: transparent;
    h4{
      font-size: 2.2vw;
      color: $color-card-h4;
      font-weight: normal;
      text-transform: uppercase;
    }
    p{
      font-size: 1vw;
      line-height: 1.5vw;
      font-family: $font-roboto;
      color: $color-light-grey;
    }
    .btn{
      text-transform: uppercase;
      padding: 1vw 2vw;
      background-color: transparent;
      color: $color-light-grey;
      font-weight: bold;
      border: 1px solid $color-light-grey;
      border-radius: 0;
    }
  }
}
.img-look{
  width: 100%;
  img{
    width: 100%;
  }
}
.hover-wrapper-img{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  .thumb{
    max-width: 100%;
    border: 1px solid $color-white;
    margin: 17px 17px 0 0;
    &:hover{
      border: 1px solid $color-light-grey;
    }
  }
}
.wrapper-hover{
  display: none;
}
